<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>030EF0A714632FD000B04273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>030EF0BF14632FD000B04273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>030EF0DB14632FF700B04273</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03565A1A18F05626003AE91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03565A3018F0566E003AE91E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D31108AC1828DB8700737925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0B950F01B0080BE00942C38</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
