<!DOCTYPE html>

<html>
  <head>

		<meta http-equiv="Content-type" content="text/html;charset=UTF-8">

		<meta name="twitter:card" content="summary" />
		<meta name="twitter:title" content="OCMock{% if page.title %}: {{ page.title }}{% endif %}" />
		<meta name="twitter:description" content="OCMock is a library for creating mock objects in Objective-C." />
		<meta name="twitter:image" content="http://ocmock.org/images/tweetcard-small.png" />

		<title>{% if page.title %}{{ page.title }} &middot; {% endif %}OCMock</title>

		<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/stylesheets/reset.css">
		<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/stylesheets/screen.css">
		<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/stylesheets/pygmentize.css">
		<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/stylesheets/quvyn.css">

		<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />

		<script src="{{ site.baseurl }}/scripts/jquery.min.js"></script>

		{% if page.comments %}

		<script src="/scripts/luxon.min.js"></script>
		<script src="/scripts/vue.min.js"></script>
		<script src="{{ site.quvynurl }}/app/quvyn.js"></script>

		{% endif %}

		<script>
		$(document).ready(function() {
		$('#navmenu-btn').click(function() {
		  $('li.textnav').toggle();
		})});
		</script>

	</head>

  <body class="{{ page.layout }} {{ page.title }}">

    <header class="group">
    	<div id="navmenu-btn">≡</div>
    	<nav>
        {% if page.title %}
        <a href="{{ site.baseurl }}/"><img id="logo" src="{{ site.baseurl }}/images/ocmock-252x81.png" width="126" height="41" alt="OCMock"></a>
	      {% endif %}
    		<ul>
    			<li class="textnav" id="home"><a href="{{ site.baseurl }}/">Home</a></li>
    			<li class="textnav"><a href="{{ site.baseurl }}/introduction">Introduction</a></li>
    			<li class="textnav"><a href="{{ site.baseurl }}/reference">Documentation</a></li>
    			<li class="textnav"><a href="{{ site.baseurl }}/swift">Swift</a></li>
    			<li class="textnav"><a href="{{ site.baseurl }}/support">Support</a></li>
    			<li class="textnav"><a href="{{ site.baseurl }}/download">Download</a></li>
				<li class="textnav"><a href="https://github.com/erikdoe/ocmock"><img src="/images/github.svg"></a></li>
			</ul>
    	</nav>
    </header>

    {{ content }}

		<footer class="group">
			<nav>
				<div class="copyblock">
					<p>Copyright &copy; 2004-2021<br>
					Erik D&ouml;rnenburg and contributors
				</div>
				<div class="navblock">
					<h2>Docs</h2>
					<ul>
					  <li><a href="{{ site.baseurl }}/introduction">Introduction</a></li>
						<li><a href="{{ site.baseurl }}/reference">Reference</a></li>
						<li><a href="{{ site.baseurl }}/ios">iOS Project Setup</a></li>
				  </ul>
				</div>
				<div class="navblock">
					<h2>Support and Contributions</h2>
					<ul>
						<li><a href="https://stackoverflow.com/questions/tagged/ocmock">StackOverflow</a></li>
						<li><a href="https://github.com/erikdoe/ocmock/blob/master/CONTRIBUTING.md">Github</a></li>
						<li><a href="{{ site.baseurl }}/support">More info</a></li>
				  </ul>
				</div>
			</nav>
		</footer>

		<!-- Start of StatCounter Code -->
    <script type="text/javascript">
    var sc_project=5243075;
    var sc_invisible=1;
    var sc_partition=59;
    var sc_click_stat=1;
    var sc_security="accd6a4e";
    </script>

    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js"></script>
    <noscript><div class="statcounter">
    <a title="hit counter" href="https://www.statcounter.com/blogger/" target="_blank">
    <img class="statcounter" src="https://c.statcounter.com/5243075/0/accd6a4e/1/" alt="hit counter">
    </a>
    </div></noscript>
		<!-- End of StatCounter Code -->

  </body>
</html>
